<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.shiro.linguistics">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            android:name=".LinguisticsApp"
            android:allowBackup="false"
            android:icon="@drawable/kumalrc_icon"
            android:label="@string/app_name"
            android:theme="@style/LinguisticsTheme">
        <meta-data
                android:name="AA_DB_NAME"
                android:value="linguistics.db"/>
        <meta-data
                android:name="AA_DB_VERSION"
                android:value="1"/>
        <meta-data
                android:name="AA_MODELS"
                android:value="com.shiro.memo.model.Entry, com.shirokuma.musicplayer.model.Song"/>

        <activity
                android:name="com.shirokuma.musicplayer.WelcomeActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:exported="true"
                android:name="com.shirokuma.musicplayer.musiclib.MusicListActivity"
                android:launchMode="singleTask"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.shirokuma.musicplayer.lyrics.LyricsActivity"
                android:exported="true"
                android:launchMode="singleTask"
                android:screenOrientation="portrait"/>
        <activity
                android:name="com.shirokuma.musicplayer.GuideActivity"
                android:screenOrientation="portrait"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
                android:name="com.shirokuma.musicplayer.setting.SettingActivity"
                android:screenOrientation="portrait"/>


        <activity
                android:name="com.shirokuma.musicplayer.setting.TimerActivity"
                android:screenOrientation="portrait"
                android:theme="@style/timer_dialog"/>

        <receiver android:name="com.shirokuma.musicplayer.playback.MusicBroadcast"/>
        <service android:name="com.shirokuma.musicplayer.playback.MusicService"/>

        <activity
                android:exported="true"
                android:name="com.shiro.memo.FlashCardActivity"
                android:label="@string/app_name">
        </activity>
        <activity
                android:launchMode="singleTask"
                android:label="@string/redact"
                android:exported="true"
                android:name="com.shiro.memo.RedactActivity"/>

        <receiver android:name=".widget.PlayerAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/player_appwidget_info"/>
        </receiver>
        <receiver android:name=".widget.RedactWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/redact_widget_info"/>
        </receiver>
        <receiver android:name=".widget.WordWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/word_widget_info"/>
        </receiver>
        <receiver android:name=".widget.SongsWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/songs_widget_info"/>
        </receiver>
    </application>

</manifest>
