<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shiro.linguistics" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".LinguisticsApp"
        android:allowBackup="false"
        android:icon="@drawable/kumalrc_icon"
        android:label="@string/app_name"
        android:theme="@style/LinguisticsTheme" >
        <meta-data
            android:name="AA_DB_NAME"
            android:value="linguistics.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />

        <activity
            android:name="com.shirokuma.musicplayer.WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
